<div class="Filters">
  <div class="Filters-Priority">
    <span>Priorities</span>
    <form>
      <div *ngFor="let filter of priorityFilters; let i = index">
        <input
          type="checkbox"
          [checked]="filter.checked"
          (input)="updatePriorityFilters(i)"
        />
        {{ filter.name }}
      </div>
    </form>
  </div>

  <div class="Filters-Types">
    <span>Types</span>
    <form>
      <div *ngFor="let filter of typeFilters; let i = index">
        <input
          type="checkbox"
          [checked]="filter.checked"
          (input)="updateTypeFilters(i)"
        />
        {{ filter.name }}
      </div>
    </form>
  </div>

  <div class="Filter-Name">
    <span>Name of Event</span>
    <input type="text" (input)="updateSearchNameFilter($event)" />
  </div>

  <div class="Filter-Hospital">
    <span>Name of Hospital</span>
    <input type="text" (input)="updateSearchHospitalFilter($event)" />
  </div>
</div>
