p {
  font-family: Lato;
}
.Date {
  top: 20px;
}
.MainContent {
  padding: 20px;
}

.NoteContent {
  padding: 20px;
  border: 1px solid black;
}

.NotesTitle {
  font-size: 20px;
  font-weight: 1000;
}

.Notes {
  padding-bottom: 20px;
}

.EventDescription {
  font-size: 20px;
  font-weight: 1000;
}

.DialogContainer {
  position: fixed;
  top: 32%;
  left: 32%;
  background: grey;
  padding: 20px;
  width: 400px;
  height: 300px;
}
